doctype html
html(lang='en')
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Todos 
        link(rel='stylesheet', href='/app.css')
    body 
        main 
            h1 Todos
            ul
                if todos.length == 0
                    li.no-todos You're all caught up!
                else 
                    each todo in todos 
                        li 
                            span= todo.content 
                            form(action='/delete', method='post')
                                input(type="hidden", name="id", value=todo.id)
                                button(type="submit").delete-btn Delete
            form(action="/create", method="post")#create-form
                input(type="text", name="content", placeholder="What do you need to do?", autofocus)
                button(type="submit")#add-btn Add